<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #F0D725">
  <div class="container">
    <a class="navbar-brand" href="#">Beach Soccer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsedContent" aria-controls="navbarCollapsedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapsedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-info" href="#"> Pagrindinis </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" href="#"> Komandos </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" href="#"> Rezultatai </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" href="#"> Apie mus </a>
        </li>
      </ul>
      <button type="button" class="btn btn-primary">Prisijungti</button>
    </div>
  </div>
</nav>